/* styles.css */
/* booking.css */
/*.booking-item {
    border: 1px solid #ccc; /* 1px border */
  /*  margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    width:90%;
  }*/
  
  .booking-summary {
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:95%;
    height:50px;
   
   
  }
  
  .booking-details {
    background-color: #fff;
    padding: 10px;
    width:95%;
   
   
   
  }
  
  .cancel-button {
    background-color: #ff4c4c;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    left:100px;
    top:12px;
  }
  
  .cancel-button:hover {
    background-color: #ff1c1c;
  }
  