

 .macbook {
    width: 100%;
    position: relative;
    background-color: #3572ef;
    height: 155.134vh;
    overflow: hidden;
    text-align: left;
    font-size: 250px;
    color: #fff;
    font-family: Inter;
  
}

.Images{
   
  position: absolute;
 top: 10px;
  left: 10px;
  width: 98.5%;
  height: 450px;
  border-radius: 2px;
  filter: opacity(1.5) contrast(1.2) brightness(1.1) saturate(1.2) sepia(0.1) ; 
 transition: all 0.3s ease;
 
  z-index: 2;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}
.Images:hover{
  filter: opacity(1.5) contrast(1.2) brightness(1.1) saturate(1.2) drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5)) sepia(0.1); /* Additional tint on hover */
  transform: scale(1.05);
}

.Boxes {
   
    position: absolute;
    background-color: #fff;
    width: 100%;
    height:200px;
    top:0px;
   
   
   
  }

 .Google{
    position: absolute;
    top: 83vh;
    left: 42vw;
    border-radius: 1vw;
    background-color: #fff;
   
    
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    z-index: 2;
 }

 .Google:hover{
    filter: opacity(1.5) contrast(1.5)  saturate(1.5) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)) ; /* Additional tint on hover */
    transform: scale(1.05);
  }
  
  

 
  
.macbook {
  width: 100%;
  position: relative;
  background-color: #3572ef;
  min-height: 100vh; 
  overflow: hidden;
  text-align: left;
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
}


.Images {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 55vh; 
  border-radius: 2px;
  filter: opacity(1.5) contrast(1.2) brightness(1.1) saturate(1.2) sepia(0.1); 
 transition: all 0.3s ease;
  z-index: 2;
}

.Images:hover {
  filter: opacity(1.5) contrast(1.2) brightness(1.1) saturate(1.2) drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5)) sepia(0.1); 
  transform: scale(1.05);
}


Boxes {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 20vh; 
 top: 0;
}


.Google {
  position: absolute;
  top: 83vh;
  left: 42vw;
  border-radius: 1vw;
  background-color: #fff;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  z-index: 2;
  padding: 10px; 
  transition: transform 0.3s ease;
}

.Google:hover {
  filter: opacity(1.5) contrast(1.5) saturate(1.5) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)); /* Additional tint on hover */
 transform: scale(1.05);
}


@media (max-width: 1200px) {
  .Google {
    left: 40vw;
    top: 75vh;
  }
}

@media (max-width: 992px) {
  .Google {
    left: 35vw;
    top: 70vh;
  }
}

@media (max-width: 768px) {
  .macbook {
    font-size: 1rem; 
  }

  .Images {
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: 30vh; 
  }

  .Google {
    top: 65vh; 
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
   border-radius: 10px; 
  
  }
  .Boxes {
    height: 15vh; 
  }
}

@media (max-width: 480px) {
  .macbook {
    font-size: 0.875rem; 
  }

  .Google {
    top: 60vh; 
    width: 62.5%; 
  }

  .Boxes {
    height: 10vh; 
  }
}
